<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enviar Correos</title>
</head>
<body>
    <h1>Correo enviados desde GO</h1>
    <h2>Gracias por suscribirte a nuestra lista {{.Name}} </h2>
    <img src="https://ontoborn.com/assets/images/golang-1400x933-6.png" title="gppher" alt="Logo golang">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio laborum assumenda beatae saepe esse vitae nesciunt quis, consectetur reprehenderit odit delectus. Repudiandae a tempore commodi, consectetur voluptas cumque minima voluptatem.</p>
</body>
</html>